@font-face {
    font-family: 'Open 24 Display St';
    src:  url('fonts/Open24DisplaySt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.header {
    margin-top: -55px;
    height: 100px;
    width: 100%;
    color: black;
    font-family: 'Open 24 Display St';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background: rgb(217,215,252);
background: linear-gradient(90deg, rgba(217,215,252,1) 17%, rgba(9,121,53,0.39119397759103647) 40%, rgba(0,212,255,1) 100%);
}

.footer {
    display: flex;  
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 100%;
    color: black;
    font-family: 'Open 24 Display St';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    background: rgba(7, 209, 206, 0.413);
    margin-bottom: -55px;

}



.displayOutput {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   max-width: 500px;
   margin: 10px 10px;
   height: 130px; 
   background:#5e826b;
   border-top: solid black 10px;
   border-bottom: solid black 5px;
   border-left: solid rgb(92, 92, 92) 10px;
   border-right: solid rgb(92, 92, 92) 5px;
}



.row {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.buttons {
background: #ddc5a1;
display: flex;
justify-content: space-around;
align-content: space-around;
flex-direction: column;
padding: 5px;
gap: 13px;
}


#output {
    flex: auto;
    word-wrap: break-word;
    max-width: 400px;
    max-height: auto;
    height: auto;
    font-family: 'Open 24 Display St';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    text-align: end;
    line-height: 60px;
}


.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    gap: 5px;
    max-width: 500px;
    min-width: 5;
    width: 500px;
    height: auto;
    border-top: solid rgba(79, 76, 76, 0.694) 10px;
    border-right: solid rgba(58, 56, 56, 0.694) 10px;
    border-left: solid rgba(58, 56, 56, 0.694) 10px;
    border-bottom: solid rgba(23, 21, 21, 0.694) 10px;
    box-shadow: 10px 10px 3px 0px rgba(99, 98, 98, 0.502);
    border-radius: 2px;
    background: grey;
    margin-bottom: 50px;
    /* transform: rotateX(calc(var(--rotate-x, -1) * 1deg)) rotateY(calc(var(--rotate-y, -1) * 1deg)) rotateX(0deg) translate3d(0, 0, 0); */
    
}

button {
flex: auto;
min-width: 60px;
min-height: 60px;
width: 60px;
border: solid black 4px;
background: #3b3b3b;
color: white;
border-radius: 3%;
font-size: 20px;
}

button:hover {
    transform: translateY(1px);
    box-shadow: 0.5px 0.5px rgba(7, 7, 7, 0.502);
 }

 .operator {
     font-size: 25px;
 }

 
.calculator #top {
   background: #292929;
   color: #968b5f;
   font-family: 'Roboto Mono', monospace;
   font-size: 20px;
   border-bottom: solid red 2px;
   padding-left: 10px;
   padding-right: 10px;
   display: flex;
   justify-content: space-between;
}

.main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    background: rgb(217,215,252);
background: linear-gradient(90deg, rgba(217,215,252,1) 17%, rgba(9,121,53,0.39119397759103647) 40%, rgba(0,212,255,1) 100%);

}

#clear {
    background: rgba(209, 118, 7, 0.94);
}

.solarcontainer {
    
    display: flex;
    justify-content: center;    
    align-content: center;
}

.solar {
    background: rgb(31, 23, 23);
    border-right: solid rgb(92, 92, 92, 0.687) 1px;
    width: 40px;
    height: 50px;
    align-self: center;
}

.solarleft {
    background: rgb(31, 23, 23);
    border-right: solid rgba(92, 92, 92, 0.687) 1px;
    border-left: solid rgb(52, 51, 51) 2px;
    width: 40px;
    height: 50px;
    align-self: center;
}

.solarright {
    background: rgb(31, 23, 23);
    width: 40px;
    height: 50px;
    align-self: center;
}

@media screen and (max-width: 480px) {
.header {
font-size: 20px;
height: 50px;
margin-top: 0px;
    }

.main {
padding-top: 20px;
}    
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    gap: 3px;
    max-width: 300px;
    min-width: 5;
    width: 300px;
    height: auto;
    border-top: solid rgba(79, 76, 76, 0.694) 10px;
    border-right: solid rgba(58, 56, 56, 0.694) 10px;
    border-left: solid rgba(58, 56, 56, 0.694) 10px;
    border-bottom: solid rgba(23, 21, 21, 0.694) 10px;
    box-shadow: 10px 10px 3px 0px rgba(99, 98, 98, 0.502);
    border-radius: 2px;
    background: grey;
    margin-bottom: 50px;
    /* transform: rotateX(calc(var(--rotate-x, -1) * 1deg)) rotateY(calc(var(--rotate-y, -1) * 1deg)) rotateX(0deg) translate3d(0, 0, 0); */
    
}

.calculator #top {
    background: #292929;
    color: #968b5f;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    border-bottom: solid red 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
 }

 .solar {
    background: rgb(31, 23, 23);
    border-right: solid rgb(92, 92, 92, 0.687) 1px;
    width: 30px;
    height: 40px;
    align-self: center;
}

.solarleft {
    background: rgb(31, 23, 23);
    border-right: solid rgba(92, 92, 92, 0.687) 1px;
    border-left: solid rgb(52, 51, 51) 2px;
    width: 30px;
    height: 40px;
    align-self: center;
}

.solarright {
    background: rgb(31, 23, 23);
    width: 30px;
    height: 40px;
    align-self: center;
}

button {
    flex: auto;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    border: solid black 4px;
    background: #3b3b3b;
    color: white;
    border-radius: 3%;
    font-size: 15px;
    }

.operator {
    font-size: 15px;
    }    
.row {
    display: flex;
    justify-content: center;
    gap: 3px;
    }

.buttons {
    background: #ddc5a1;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    padding: 5px;
    gap: 3px;
        }

.footer {
font-size: 20px;
height: 50px;
}   

#output {
font-size: 50px;    
}
}